version: 0.0
Resources:
  - TargetService:
      Type: AWS::ECS::Service
      Properties:
        TaskDefinition: {{ ecs_json.taskDefinitionArns[0] }}
        LoadBalancerInfo:
          ContainerName: "devops-api-poc"
          ContainerPort: 80